<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
  <body class="signup">
    <div class="container">
      <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
          <div class="card-body">
            <!-- messages -->
            <h1 class="text-center">
              <span class="fa fa-sign-in"></span> Signup (Registro)
            </h1>

            <!-- form -->
            <form action="signup" enctype="multipart/form-data" method="post">
              <div class="form-group">
                <label for="nombre">Email</label>
                <input type="email" name="username" value="tito@gmail.com" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" value="1234" class="form-control">
              </div>
              <div class="form-group">
                <label for="firstname">Nombre</label>
                <input type="text" name="firstname" value="Tito" class="form-control">
              </div>
              <div class="form-group">
                <label for="lastname">Apellido</label>
                <input type="text" name="lastname" value="Banchi" class="form-control">
              </div>
              <div class="form-group">
                <label for="phone">Telefono</label>
                <input type="text" name="phone" value="1165551234" class="form-control">
              </div>
              <div class="form-group">
                <label for="archivo1">Imagen de Perfil</label>
                <input type="file" name="fileName"  class="form-control">
              </div>
              <input type="submit" class="btn btn-dark btn-lg">
            </form>

            <hr>
            <div class="text-center">
              <p>Accede con tu cuenta: <a href="login">Login</a></p>
              <p>ir al: <a href="/">home</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

